* {
	box-sizing: border-box;
}

body {
	font-family: 'Comic Sans MS', sans serif;
	font-size: 1.2em;
	background-color: #6AA9FE;
}

header {
	background-color: #F3FE6A;
	color: #6AA9FE;
	height: 200px;
	position: relative;
}

header h1 {
	margin: 0;
	position: absolute;
	top: 30px;
	left: 30px;
}

header form {
	position: absolute;
	top: 30px;
	right: 30px;
}

header form label[for="username"]{
	position: absolute;
	top: 0px;
	right: 335px;
}

header form input[name="username"]{
	position: absolute;
	top: 30px;
	right: 270px;
}

header form label[for="password"]{
	position: absolute;
	top: 0px;
	right: 162px;
}

header form input[name="password"]{
	position: absolute;
	top: 30px;
	right: 70px;
}

header form input[type="submit"]{
	background-color: #6AA9FE;
	border: 0;
	color: yellow;
	padding: 5px 5px;
	position: absolute;
	top: 28px;
	right: 0px;
}

nav {
	background-color: #F3FE6A;
	margin-top: 10px;
	float: left;
	width: 25%;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: #6AA9FE;
	display: block;
	width: 100%;
	padding: 10px;
}

nav ul li a{
	border-bottom: 1px solid #6AA9FE;
}

nav ul li a:hover {
	color: white;
	background-color: black;
}

main {
	height: 600px;
	background-color: white;
	border: 10px solid #6AA9FE;
}

main {
	padding: 10px;
}

main h1 {
	margin: 0;
}

section {
	height: 600px;
	background-color: #F3FE6A;
	border-top: 10px solid #6AA9FE;
	border-bottom: 10px solid #6AA9FE;
}

footer {
	background-color: #F3FE6A;
	color: #6AA9FE;
	height: 200px;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

[class*="col-"]{
	width: 100%;
	float: left;
}

@media only screen and (min-width: 600px){
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

@media only screen and (min-width: 1024px){
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;} 
}